RewriteEngine on

# redirect to 8888 if "some-prefix/" is matched
RewriteCond %{SERVER_PORT} !^8888$
RewriteRule ^some-prefix/(.*[^/])/?$ http://%{HTTP_HOST}:8888/some-prefix/$1/ [R=301,L]

# redirect with trailing slash if not an existing file and no trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ /$1/ [R=301,L]